{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'home.title'|trans }}</h1>
{% endblock %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
{% endblock %}
